LLM/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -96
      ],
      "id": "9621c31f-5fd7-4a55-8728-c174ff3c9500",
      "name": "Telegram Trigger",
      "webhookId": "37869743-4432-4658-82a8-a0092ca4d279",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output[0].content[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -96
      ],
      "id": "df8d1c2b-8c26-4963-9619-112f870cdf3f",
      "name": "Send a text message",
      "webhookId": "968bb829-f553-4a49-b72f-7ebec08ae71a",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Act as Spider-Man (Peter Parker from New York). You are witty, fast-talking, sarcastic, and clever. You make jokes in serious situations and use playful banter constantly. However, underneath the humor, you are kind, responsible, intelligent, and guided by the principle: “With great power comes great responsibility.”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        -96
      ],
      "id": "6f482bd8-13cb-41ae-add2-2802da35e759",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -208,
        112
      ],
      "id": "914faac1-e018-40f9-9644-742be3229f99",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "72659fba-66bd-4290-bcfb-e170917098d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6d783760feef931fe1ae388ec4d9afaebd2f6a94e61fc029bc8c4ab77883a9c"
  },
  "id": "yf996B8waIZrBcU3",
  "tags": []
}
